extends ../partials/_layout.pug 

block content 
    .container.py-3
        h1 📅 Planificador Semanal de Recetas
        p.lead Organiza tus comidas de la semana de forma práctica y sencilla
        .alert.alert-info.mt-3
            strong ℹ️ Próximamente: 
            | Esta funcionalidad estará disponible muy pronto. Podrás planificar todas tus comidas de la semana.

block scripts 
    <script type="module" src="./dist/planSemanal.js"></script>